.form {
    &--container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    &--single {
        font-family: Roboto;
        font-size: 14px;
        background-color: $gray-100;
        width: calc(100% - 24px);
        padding: 12px;
        border: none;
        margin-bottom: 16px;
    }
    &--multiple {
        font-family: Roboto;
        font-size: 14px;
        background-color: $gray-100;
        width: calc(100% - 24px);
        height: 80px;
        padding: 12px;
        border: none;
        margin-bottom: 12px;
        resize: vertical;
    }
    &--cta {
        margin-top: 0;
        background-color: $primary;
        font-family: Roboto;
        text-transform: uppercase;
        color: $white;
        height: 44px;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: $secondary;
        }
    }
}