.grid--container {
    width: 100%;
    z-index: 1;
}
.article--list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.article--item {
    width: calc(25% - 1px);
    list-style: none;
    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
}

@media (max-width: 1280px) {
    .article-item {
        width: calc(33.33% - 1px);
    }
}

@media (max-width: 1025px) {
    .article--item {
        width: 33.33%;
        border: none;
    }
}

@media (max-width: 767.98px) {
    .article--item {
        width: 50%;
    }
}

@media (max-width: 575.98px) {
    .article--item {
        width: 100%;
        margin-bottom: 1px;
    }
}