.container {
    width: 100%;
    z-index: 1;
}
.articleList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.articleItem {
    width: calc(25% - 1px);
    list-style: none;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

@media (max-width: 1280px) {
    .articleItem {
        width: calc(33.33% - 1px);
    }
}

@media (max-width: 991.98px) {
    .articleItem {
        width: calc(33.33% - 0.75px);
        margin-bottom: 1px;
    }
}

@media (max-width: 767.98px) {
    .articleItem {
        width: calc(50% - 0.5px);
        margin-bottom: 1px;
    }
}

@media (max-width: 575.98px) {
    .articleItem {
        width: calc(100%);
        border: none;
        margin-bottom: 1px;
    }
}