.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: #FFFFFF;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
}
.headerItem {
  padding: 32px;
}
.burger {
  display: none;
}
.logo {
  display: flex;
  justify-content: center;
  height: auto;
}
.logoItem {
  width: 140px;
  height: intrinsic;
  margin: 0;
}
.spacer {
  background-color:  #F8BCB4;
  display: block;
  width: 44px;
  height: 6px;
  margin-top: 16px;
}
.navigation {
  display: flex;
  flex-direction: column;
  padding: 0;
}
.navigationItem {
  display: block;
}
.navigationItem a {
  color: #010777;
  font-size: 22px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;

  text-decoration: none;
  margin-top: 12px;
  letter-spacing: -0.5px;
}
.navigationItem a:hover { 
  color: #3A9886;
}
.social {
  display: flex;
  flex-direction: row;
  margin: 16px 0 16px 0;
}
.socialItem {
  width: 24px;
  margin-right: 16px;
  margin-bottom: 0px;
  list-style-type: none;
  fill: #010777;
}
.socialItem:hover {
  fill: #3A9886;
}
.mobileSpacer {
  display: none;
}

@media (max-width: 991.98px) {
  .header {
    width: 100%;
    flex-direction: column;
    height: auto;
  }
  .headerItem { 
    padding: 16px;
    display: flex;
    justify-content: center;
  }
  .burger {
    display: block;
  }
  .spacer {
    display: none;
  }
  .navigation {
    display: none;
  }
  .logoItem {
    width: 116px;
  }
  .social {
    display: none;
  }
  .mobileSpacer {
    display: block;
  }

}