.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 44px;
  left: 32px;
  z-index: 9999;
}

.burger-menu .bar1,
.bar2,
.bar3 {
  width: 25px;
  height: 3px;
  background-color: #010777;
  margin: 4px 0;
  transition: 0.4s;
}

.burger-menu.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 4px);
  transform: rotate(-45deg) translate(-4px, 4px);
}

.burger-menu.open .bar2 {
  opacity: 0;
}

.burger-menu.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
  transform: rotate(45deg) translate(-6px, -6px);
}
.menu {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  padding: 0px;
  margin-top: 7px;
}
.menu ul {
  position: relative;
  top: 0px;
  font-size: 24px;
  padding: 0px;
}
.menu li {
  list-style: outside none none;
  margin: 16px 0px;
  padding: 0;
  cursor: pointer;
}
.menu li a {
  color: #010777;
  text-decoration: none;
}

.menu li:hover {
  color: #3A9886;
}
.buger--social {
  margin-bottom: 68px;
}


@media (max-width: 575.98px) {
  .burger-menu,
  .burger-menu.open {
    top: 38px;
    left: 16px;
  }
}