.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-color: $white;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;

    &--item {
        padding: 32px;
      }
  }
  .logo {
    display: flex;
    justify-content: center;
    height: auto;

    &--item {
        width: 140px;
        height: intrinsic;
        margin: 0;
      }
  }  
  .burger {
    display: none;
  }
  .spacer {
    background-color:  $tertiary;
    display: block;
    width: 44px;
    height: 6px;
    margin-top: 16px;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    padding: 0;

    &--item {
        display: block;
        
        a {
            color: $primary;
            font-size: 22px;
            font-family: 'Roboto Condensed', sans-serif;
            font-weight: 400;
            text-decoration: none;
            margin-top: 12px;
            letter-spacing: -0.5px;
        }
        a:hover { 
            color: $secondary;
        }
    }
  }

  .social {
    display: flex;
    flex-direction: row;
    margin: 16px 0 16px 0;

    &--item {
        width: 24px;
        margin-right: 16px;
        margin-bottom: 0px;
        list-style-type: none;
        fill: $primary;
        
        :hover {
            fill: $secondary;
        }
    }

  }
  .mobile--spacer {
    display: none;
  }
  
  @media (max-width: 1025px) {
    .header {
      width: 100%;
      flex-direction: column;
      height: auto;

      &--item { 
        padding: 16px;
        display: flex;
        justify-content: center;
      }
    }

    .burger {
      display: block;
    }
    .spacer {
      display: none;
    }
    .navigation {
      display: none;
    }
    .logo--item {
      width: 116px;
    }
    .social {
      display: none;
    }
    .mobile--spacer {
      display: block;
    }
  
  }